.event {
  width: 100%;
  &_cont {
    width: 100%;
    display: flex;
    justify-content: center;
    // height: 800px;
    // overflow-y: scroll;
    // ::-webkit-scrollbar {
    //   display: none;
    // }
    // -ms-overflow-style: none;
    // scrollbar-width: none;
    &_sec {
      width: 98%;
      margin: 20px 0;
      &_heading {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        h2 {
          font-size: 2vw;
          font-weight: 600;
          color: #07131b;
          transform-origin: center;
          animation: stretchAnimation 1s ease-in-out alternate;
        }
      }
      &_search {
        width: 100%;
        margin-bottom: 20px;
      }
      &_body {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 15px 10px;
        box-shadow: 0 0 2px 2px #c3c3c3;
        border-radius: 8px;
        margin-bottom: 30px;
        &_left {
          width: 8%;
          &_date {
            display: flex;
            flex-direction: column;
            align-items: center;
            &_month {
              span {
                font-size: 1.2vw;
                color: #656565;
                font-weight: 500;
                padding: 0;
                margin: 0;
              }
            }
            &_day {
              span {
                font-size: 2vw;
                color: #07131b;
                font-weight: 700;
                padding: 0;
                margin: 0;
              }
            }
            &_year {
              span {
                font-size: 1.2vw;
                color: #656565;
                font-weight: 500;
                padding: 0;
                margin: 0;
              }
            }
          }
        }
        &_right {
          width: 60%;
          &_details {
            width: 100%;
            &_time {
              margin-bottom: 1vw;
              display: flex;
              justify-content: space-between;
              &_left {
                span {
                  font-size: 1.2vw;
                  color: #07131b;
                  font-weight: 400;
                  padding: 0;
                  margin: 0;
                }
              }
              &_right {
                display: flex;
                gap: 20px;
              }
            }
            &_title {
              margin-bottom: 0.8vw;
              h2 {
                font-size: 1.8vw;
                color: #07131b;
                font-weight: 600;
                cursor: pointer;
                width: fit-content;
              }
              h2:hover {
                text-decoration: underline;
              }
            }
            &_content {
              width: 100%;
              display: flex;
              justify-content: space-between;
              &_text {
                width: 100%;
                p {
                  font-weight: 400;
                  font-size: 1.2vw;
                  color: #656565;
                  line-height: 2vw;
                }
              }
              // &_image {
              //   width: 30%;
              //   img {
              //     width: 100%;
              //     height: auto;
              //   }
              // }
            }
          }
        }
        &_image {
          width: 30%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          img {
            width: 100%;
            height: 200px;
            object-fit: contain;
          }
        }
      }
    }
  }

  .loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000062;
    overflow: hidden;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;

    &__loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 4px solid #f0f0f0;
      border-radius: 50%;
      border-top: 4px solid #212121;
      width: 4vw;
      height: 4vw;
      -webkit-animation: spin 2s linear ease-in-out;
      animation: spin 2s linear ease-in-out;
    }

    &__smallLoader {
      border: 2px solid #f0f0f0;
      border-top: 2px solid #212121;
      width: 1.8vw;
      height: 1.8vw;
    }
    &__tableLoader {
      border: 2px solid #f0f0f0;
      border-top: 2px solid #212121;
      width: 1.8vw;
      height: 1.8vw;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .event {
    width: 100%;
    &_cont {
      width: 100%;
      height: 700px;
      &_sec {
        &_heading {
          h2 {
            font-size: 5vw;
          }
        }
        &_body {
          width: 100%;
          flex-direction: column;
          align-items: center;
          padding: 10px;
          &_left {
            width: 100%;
            &_date {
              flex-direction: row;
              justify-content: center;
              gap: 5px;
              &_month {
                span {
                  font-size: 3vw;
                  font-weight: 500;
                }
              }
              &_day {
                span {
                  font-size: 3vw;
                  font-weight: 700;
                }
              }
              &_year {
                span {
                  font-size: 3vw;
                  font-weight: 500;
                }
              }
            }
          }
          &_right {
            width: 100%;
            &_details {
              width: 100%;
              &_time {
                margin-bottom: 1vw;
                display: flex;
                justify-content: space-between;
                &_left {
                  span {
                    font-size: 3vw;
                    font-weight: 400;
                  }
                }
              }
              &_title {
                margin-bottom: 1vw;
                h2 {
                  font-size: 4vw;
                  font-weight: 600;
                }
              }
              &_content {
                width: 100%;
                flex-direction: column;
                &_text {
                  width: 100%;
                  p {
                    font-size: 3.2vw;
                    line-height: 4vw;
                  }
                }
              }
            }
          }
          &_image{
            width: 100%;
            margin: 10px 0;
          }
        }
      }
    }
  }
}
