.custom-button {
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.primary {
  background-color: #07426a;
  color: #ffffff;
  border-radius: 6px;
  padding: 10px 20px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

.secondary {
  background-color: #ffffff;
  color: #07426a;
  border-radius: 6px;
  padding: 8px 20px;
  width: 100%;
  border: 2px solid #07426a;
  font-size: 14px;
  font-weight: 500;
}
